<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soundllytest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <application
        android:name=".TestApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <service android:name="com.soundlly.sdk.service.SoundllyService" android:process=":remote">
            <intent-filter>
                <action android:name="com.soundllytest.BIND" />
            </intent-filter>
		</service>
        
        <receiver android:name="com.soundlly.sdk.receiver.SoundllyReceiver" >
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
			
			<intent-filter>
				<action android:name="android.intent.action.PACKAGE_REMOVED" />
				<action android:name="android.intent.action.PACKAGE_REPLACED" />
				<data android:scheme="package" />
			</intent-filter>
		</receiver>

        <receiver android:name=".SoundllyBroadcastReceiver" >
			<intent-filter>
				<action android:name="com.soundllytest.SOUNDLLY_RESULT"/>
				<action android:name="com.soundllytest.ON_BIND"/>
			</intent-filter>
		</receiver>

        <activity android:name=".MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
